<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Items', items_path %></li>
      <li><%= link_to 'Baking List', baker_dashboard_path %>
    </ul>
    <ul class="right">
      <li><%= link_to 'Logout', logout_path %></li>
    </ul>
    <div align="right">Welcome, <%= current_user.username.capitalize %></div>
  </div>
</nav>