<% unless @previous_orders.empty? %>
  <div class="card hoverable">
    <div class="card-content">
      <span class="card-title">Order History</span>
    <table>
      <thead>
        <tr>
          <th width="120">Date</th>
          <th width="100">Amount</th>
        </tr>
      </thead>
      <tbody>
      <% @previous_orders.each do |order| %>
        <tr>
          <td><%= link_to order.date.strftime('%B %e, %Y'), order_path(order) %></td>
          <td><%= number_to_currency order.grand_total %></td>
        </tr>
      <% end %>
    </table>
  </div>
  </div>
<% end %>
