<div class="row">
	<div class="small-7 columns">
		<h2>Contact Bread Express</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Dillan Gajarawala</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("dgajaraw@cmu.edu", "Dillan Gajarawala", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>1-800-ISR-OCKS</td>
			</tr>
		</table>

		<p class="note"><br>I am a student studying Information Systems at Carnegie Mellon University, 
		with a vested interest in making quality web applications just for bakeries.   
			<br><br><em>I make bakery applications so that I get free treats.</em></p>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>