<div id="tabbed">
  <tabs>

    <tab name="active customers" v-bind:selected="true">
      <%= render :partial => "customer_list", locals: {customers: @active_customers, state: 'active'} %>
    </tab>

    <tab name="inactive customeers">
      <%= render :partial => "customer_list", locals: {customers: @inactive_customers, state: 'inactive'} %>
    </tab>

  </tabs>
</div>