<ul class="collapsible">
  <li>
      <div class="collapsible-header" align="center"><h6 class="center-align">Items</h6><i class="material-icons" align="right">arrow_downward</i></div>
      <div class="collapsible-body"><span><%= render partial: 'partials/order_item_list', locals: {order_items: @order_items} %></span></div>
  </li>
</ul><br><br>