<% unless @inactive_items.nil? || @inactive_items.empty? %>
  <h5>Inactive Items</h5>
  <%= render partial: "item_list", locals: {items: @inactive_items, item_type: nil}%>
  <% end %>
  <% if @inactive_items.nil? || @inactive_items.empty? %>
  <i>There are no inactive items at this time.</i><br><br>
  <% end %>