<div id="tabbed">
  <tabs>

    <tab name="active items" v-bind:selected="true">
        <%= render partial: "item_list", locals: {items: @breads,
                                                      item_type: 'breads'} %>

        <%= render partial: "item_list", locals: {items: @muffins,
                                                      item_type: 'muffins'} %>

        <%= render partial: "item_list", locals: {items: @pastries,
                                                      item_type: 'pastries'} %>
    </tab>

    <tab name="inactive items">
      <%= render :partial => "inactive_items" %>
    </tab>

  </tabs>
</div>